@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: #000000;
    --color-accent: #e5ebf5;
    --color-gray: #6b7280;
    --color-logo: #d1f6ee;
    --color-border: #1d2f50;
    --color-input: #9ca3af;
    --color-ring: #e5ebf5;
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-primary: #355b6a;
    --color-secondary: #1d2f50;
    --color-destructive: #ca3d3d;
    --color-constructive: #1c9846;
  }

  .dark {
    --color-text: #ffffff;
    --color-accent: #355b6a;
    --color-gray: #9ca3af;
    --color-border: #355b6a;
    --color-input: #355b6a;
    --color-background: #0f1a2b;
    --color-foreground: #ffffff;
    --color-primary: #96bbca;
    --color-secondary: #355b6a;
    --color-destructive: #ca3d3d;
    --color-constructive: #1c9846;
  }
}

@layer components {
  .small-caps {
    font-variant: small-caps;
  }
  .accordion-collapsed {
    grid-template-rows: 0fr;
  }
  .accordion-expanded {
    grid-template-rows: 1fr;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Webkit browsers */
  margin: 0; /* Removes default margin */
}
